@inherits LayoutComponentBase

@using Blazored.Toast.Configuration;

    <BlazoredToasts Position="ToastPosition.TopRight"
                    Timeout="10"
                    SuccessClass="success-toast-override"
                    SuccessIconClass="fa fa-check"
                    ErrorIconClass="fa fa-times"
                    InfoIconClass="fa fa-info"
                    WarningIconClass="fa fa-warning" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
